body {
    background: #212529;
    font-family: helvetica;
    color: lightgrey;
}

main {
    max-width: 1000px;
    background: #313539;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
    border: 0.5px solid grey;
    border-radius: 5px;
}

hr {
    background-color: lightgrey;
    color: lightgrey;
}

table {
    border-color: lightgrey;
}

a, a:visited{
    color: #007bff;
    text-decoration: none;
}

.report-bug {
    right: 5px;
    position: fixed;
    border: 0.5px solid lightgrey;
    background: #313539;
    border-radius: 5px;
    padding: 7px;
}

.report-bug:hover {
    color: lightblue;
}